<ion-header>
  <ion-toolbar>
    <ion-title>Add New Memory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" id="photoForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">Title</ion-label>
        <ion-input type="text" placeholder="Memory Title" ngModel name="title" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Short Description</ion-label>
        <ion-textarea name="description" ngModel required="true"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block" type="button" (click)="onLocate()">
            Get Location
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="location !== null">
        <ion-col>
          <leaflet-map [lat]="location.lat" [lng]="location.lng"></leaflet-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h5>Snap Picture</h5>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button fill="outline" expand="block" type="button" (click)="onOpenCamera()">
            <ion-icon name="camera" slot="start"></ion-icon>
            Open Camera
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="image !== null">
        <ion-col>
          <div class="dummy-picture">Preview Photo</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid" color="primary" [disabled]="!f.valid || !location || !imagePath" (click)="f.ngSubmit.emit()">Save</ion-button>
      <ion-button fill="outline" color="medium" (click)="cancelButtonClicked()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>