.dummy-picture {
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 24px;
    background-color: #eeeeee;
}

.dummy-map {
    width: 100%;
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 24px;
    background-color: #feffad;
}
