<ion-header>
  <ion-toolbar>
    <ion-title>Memories</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addButtonClicked()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let memory of memories; let i = index" (click)="memoryClicked(i)">
    <img [src]="memory.imagePath">
    <ion-card-content>
      <ion-card-title>
        {{ memory.title }}
      </ion-card-title>
      <p>{{ memory.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>