<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ memory.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img [src]="memory.imagePath">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ memory.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <leaflet-map [lat]="memory.location.lat" [lng]="memory.location.lng"></leaflet-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>